*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

nav{
    background-color: #8c28f7;
    color: #fff;
    padding: 1em;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    cursor: pointer;
}

nav button{
    background: none;
    border: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0 5em 0;
}

section ul{
    list-style: none;
    padding: 1em;
}

section ul li{
    margin-bottom: 15px;
    padding: 0.6em;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid slategray;
}

ul li i{
    padding-left: 1em;
    cursor: pointer;
}

.fnt_awes{
    color: #8c28f7;
    font-size: 1.2em;
}

input[type='search']{
    width: 25%;
    display: block;
    float: right;
    margin-right: 1em;
    border-radius: 25px;
    border: 0.5px solid slategray;
    padding: 0.3em 1.5em;
}


#update{
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 2em;
    justify-content: flex-end;
}

#update > *{
    padding: 0.3em;
    margin: 0 1em;
}

#update button{
    padding: 0 2em;
    background: #8c28f7;
    border: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

.inactive{
    display: none !important;
}


@media only screen and (min-width: 700px){
    section{
        width: 75%;
    }
}


@media only screen and (min-width: 950px){
    section{
        width: 60%;
    }
}


@media only screen and (max-width: 400px){
    section{
        width: 95%;
    }
    nav{
        font-size: 1em;
    }
    input[type='search']{
        width: 90%;
    }
}

@media only screen and (max-width: 700px){
    #update{
        display: flex;
        flex-direction: column;
        display: none;

    }
    input[type='search']{
        width: 75%;
    }

    .addbtn{
        display: inline;
        padding-right: 1.2em;
    }

    #update > *{
        margin: 0.5em;
    }

    #update button{
        padding: 0.5em;
    }
}
